<link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Lato|Raleway:300,400" rel="stylesheet"> 

<link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">

<!-- Material Icons! -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- change $font variables in _sass/variables.csss -->

<!--

Font pairings
$font3 - Architects Daughter
$font1 (body) - Lato
$font2 (code) - Inconsolata


<!-- 
<link href="https://fonts.googleapis.com/css?family=Amatica+SC|Architects+Daughter|Arima+Madurai:400,800|Courgette|Indie+Flower|Lato|Raleway:300,400" rel="stylesheet">

-->
